@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: black;
}
#board{
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background-image: url(image/board.jpg);

}