@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
#board{
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background-image: url(image/board.jpg);
}
#table{
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}
td{
    width: 96px;
    height: 96.5px;
}
#form{
    position: absolute;
    bottom: 70px;
    right: 20px;
    padding: 15px;
    background-color: rgb(83, 175, 19);;
    border-radius: 5px;
}
#guessInput{
    height: 25px;
    padding-left: 5px;
    color: white;
    background-color: rgba(124, 238, 124, 0.726);
    border-radius: 5px;
}
#fireButton{
    height: 25px;
    width: 50px;
    background-color: rgba(124, 238, 124, 0.726);
    border-radius: 5px;
    cursor: pointer;
}
.hit{
    background-image: url(image/ship.png);
    background-position: center;
    background-repeat: no-repeat;
}
.miss{
    background-image: url(image/miss.png);
    background-position: center;
    background-repeat: no-repeat;
}